.gradle/*
.idea/*
build/*
run/*
out/*
.vscode/*
bin/*
.apt_generated/*
tools/other/*
/tools/other/
runtime_mods/*
/runtime_mods/
/.kilocode/
/run/
/.idea/
bin/
.apt_generated/

commitCache
/.vscode/
/bin/
/tools/dist/
src/main/java/org/agmas/noellesroles/role/StarRailExpress.code-workspace
.workbuddy
.workbuddy/
/.workbuddy/
/.workbuddy/*
